body {
    font-family: 'Noto Sans TC', sans-serif;
}

// 字體
.font-baloo {
    font-family: 'Baloo Tamma 2', cursive;
}

// Button
.btn-primary {
    color: #636057;
}
.btn-primary:hover {
    background-color: $danger;
    border-color: $danger;
    color: white;
}
.btn-outline-secondary:hover {
    background-color: $primary;
    border-color: $primary;
}
.btn-outline-secondary:hover i {
    color: $danger;
}

// Image
.object-fit-cover {
    object-fit: cover;
}

// Modal 垂直置中
.modal { 
    top: 15%; 
}

// Letter Spacing
.letter-spacing-0_7 {
    letter-spacing: 0.7px;
}
.letter-spacing-2 {
    letter-spacing: 2px;
}
.letter-spacing-3 {
    letter-spacing: 3px;
}

// z-index
.z-index-1000 {
    z-index: 1000;
}

// Text
.text-justify {
    text-align: justify;
}

// shadow
.shadow-bottom-button {
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
}

// form Validation
.was-validated .form-select:valid, .form-select.is-valid {
    border: 1px solid #198754 !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border: 2px solid #FF785E !important;
}